* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: #111111
    ;
}

.info--profile {
    width: 100%;
    height: 100%;
}

.sub--title {
    display: flex;
    font-size: 1.2rem;
    color: white;
    margin: 0.2rem 2rem;
    justify-items: left;
    padding: 0.5rem;
    font-weight: 700;
}

.text--content {
    display: flex;
    font-size: 1rem;
    color: white;
    margin: 0.2rem 2.5rem;
    justify-items: left;
    font-weight: 300;
    text-align: left;
}

.info--name {
    color: white;
    font-size: 2rem;
}

.info--job {
    font-size: 1rem;
    color: orange;
}

.info--button {
    border: none;
    width: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin: 0.5rem 2rem;
    font-weight: 700;
    font-size: 1rem;
}

.card {
    display: flex;
    width: 500px;
    justify-items: center;
    flex-direction: column;
    background-color: #292829
    ;
}