.TravelJournal {
    margin: 0 auto;
    max-width:48rem;
    font-family: Inter, sans-serif;
    
}

.nav {
    display: flex;
    background-color: #F55A5A;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.nav--img {
    max-width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.nav--title {
    font-size: 1.5rem; 
    color: #FFFFFF;
    font-weight: 500;
}

.card {
    display: flex;
    flex-direction: row;
}

.card--img {
    object-fit: cover;
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    margin: 2rem;
}

.card--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
}

.card--location {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.card--map {
    margin-left: 1rem;
    font-size: 1rem;
    color: #918E9B;
}

.card--icon {
    width: 0.8rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.card--title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}

.card--date {
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
}

.card--description {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}